@import "~bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #1A1B1D;
    color: white;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#all-content {
    flex: 1 0 auto;
}

.menu {
    padding: 0px;
}

.navbar {
    margin: 0px;
    width: 100%;
    @media(max-width: 500px) {
        background: black;
    }
    .nav-link {
        text-transform: uppercase;
        @media(max-width: 500px) {
            color: grey !important;
        }
    }
    .nav-item {
        padding: 0 1vw;
    }
}

.category {
    margin-top: 50px;
    h4 {
        letter-spacing: 3px;
    }
}

img.item-image {
    width: 100%;
    padding: 10px;
}

.item-info {
    //height: auto;
    display: block;

}

.item-info-entity {
    margin: 5%;
}

.old-price {
    font-size: 25px;
    text-decoration: line-through;
    text-decoration-color: red;
    color: grey;
}

.price {
    font-size: 25px;
}

.special-price {
    font-size: 30px;
    color: red;
}

div.item {
    border: 1px lightgray solid;
    height: auto;
}

div.item:hover {
    border: 2px darkgray solid;
}

a.item-name {
    display: block;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: #ebc034;
    margin: 0;
}

button.buy-btn {
    background-color: black;
    color: white;
    border: none;
    width: 50%;
}

button.buy-btn:hover {
    background-color: gray;
    cursor: pointer;
}

#page-footer {
    flex: 0 0 auto;
    background-color: black;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: auto;
    background-color: #505050;
    border-radius: 5px;
    position: relative;
}

.closeBtn {
    color: black;
    font-size: 32px;
    position: absolute;
    top: 0;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
}

.cart-header {
    text-decoration: underline;
}

.modal-footer {
    margin-top: 5px;
    display: block;
    width: 100%;
}

#order-btn {
    margin: 0 15%;
    display: block;
    width: 70%;
    background: green;
}

.quantity-block {
    margin: 5px 0;
    text-align: center;
}

img.prod-img {
    width: 50px;
    height: 50px;
}

.prod-name {
    margin: 5px;
}

input.quantity {
    width: 40px;
    margin-top: 5px;
}

#total {
    display: inline;
}

.modal-footer>span {
    font-size: 32px;
}

#authorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    font-size: 40px;
    color: #900;
    margin: 55px 20px;
}

.category-div {
    margin-left: 50px;
}

.category-list {
    list-style: square;
}

.category-link:hover, .return-category:hover {
text-decoration: none;
}

.category-description{
    font-size: 20px;
    color: darkgray;
}

.item-desc {
    font-size: 25px;
    word-wrap:break-word;
    margin-left: 2vw;
}

#login-save {
    border-radius: 24%;
    text-decoration: none;
    padding: 5px 20px;
    border: none;
}

#login-footer {
    display: flex;
    justify-content: center;
}

#login-model {
    width:100%;
}